.logoDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px soild rgb(173, 173, 173);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
}

.body {
    overflow: hidden;
}

.logo {
    width: 15%;
    min-width: 220px;
    padding-left: 10%;
    margin: 20px 0px;
}

.logoDiv button {
    margin-right: 110px;
    background-color: rgb(80, 176, 209);
    color: white;
    padding: 10px 20px;
}

.logoDiv button:hover {
    background-color: rgb(40, 176, 209);
}

.container {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../img/ysu_img2.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-color: #fff;
    width: 100%;
    backdrop-filter: blur(5px);
    overflow: hidden;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/ysu_img2.jpeg');
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(5px);
    overflow: hidden;
    z-index: -1;
}

.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 350px;
    width: 35%;
    box-sizing: border-box;
    margin-top: 70px;
    background-color: white; 
    padding: 20px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    align-items: center; 
}

.mainBox h1 {
    font-size: 2rem;
    color: #000000; /* 텍스트 색상 설정 */
}

.mainBox button {
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #555;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 100%;
    color: white;
    text-decoration: none; /* 텍스트의 밑줄 제거 */
}

.footer {
    position: fixed;
    background-color: white;
    color: #555;
    left: 0;
    bottom: 0;
    width: 98%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 2%;
}

.footer span{
    font-size: 13px;
}

.container {
    position: relative;
    /* width: 1150px; */
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.container .card {
    position: relative;
    width: 300px;
    height: 300px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container .card:hover {
    filter: blur(0px);
    transform: scale(1.1);
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
    opacity: 1;
}

.container .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.container .card .circle h2{
    color: #fff;
    font-size: 70px;
    padding: 30px 0;
}

.container .card .content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    font-size: 17px;
    page-break-after: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content p{
    position: relative;
    color: #666;
    font-size: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    cursor: pointer; 
}

.container .card:nth-child(1) .circle{
    background-color:rgb(181, 226, 16);
}

.container .card:nth-child(2) .circle {
    background-color:rgb(80, 176, 209);
}

.container .card:nth-child(1) .content a, 
.container .card:nth-child(2) .content a {
    background-color: #555;
}

@media screen and (max-width: 700px) {
    .footer span{
        font-size: 10px;
    }

    .container {
        position: relative;
        /* width: 1150px; */
        /* padding: 20px; */
        height: 90vh;
        display: flex;
        justify-content: center;
        /* align-items: flex-end; */
        flex-wrap: wrap;
        overflow: hidden;
    }

    .container .card:nth-child(1) {
        align-self: center;
    } 

    .container .card:nth-child(2) {
        align-self: center;
    }

    .container .card {
        width: 210px;
        height: 210px;
        margin: 10px;
    }

    .container .card .circle {
        clip-path: circle(100px at center 0);
    }

    .container .card .content {
        padding: 2px;
        font-size: 12px;
    } 

    .container .card .circle h2 {
        font-size: 50px;
        padding: 0px 0;
    }
}

@media screen and (max-width: 420px) {
    .container .card:nth-child(1) {
        align-self: flex-end;
    } 

    .container .card:nth-child(2) {
        align-self: flex-start;
    }

    .container .card {
        width: 190px;
        height: 190px;
        margin: 10px;
    }
}