.body {
  margin: 0;
  background-color: #f1f1f1;
  width: 100%;
  height: 100vh;
}


.signupform {
  height: calc(100vh-90px);
  box-sizing: border-box;
  font-family: "NotoSans";
  width: 650px;
  background: linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 20px;
  align-items: center;
  margin: 130px auto ;
  padding-bottom: 40px;
}

/*---------------------------------------*/
/* Form Header */
/*---------------------------------------*/
/* .formheader  {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .formheader h1 {
    font-size: 30px;
    text-align:center;
    color:#666;
    padding-top:30px;
    padding-bottom: 10px;
    margin: 0px;
  }

  .hrline1{
    width : 90%;
    border: 1px solid #666;
    margin-left : auto;
	  margin-right : auto;
  } */

.hrline2 {
  border: 1px solid #999;
  margin-left: 25px;
  margin-right: 25px;
}

.pageHead {
  box-sizing: border-box;
  background-color: rgb(45,52,55);
  position: fixed;
  color: white;
  top: 60px;
  left: 0;
  padding: 10px 15px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  /* 다른 요소 위에 보이도록 설정 */
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.formbody {
  padding: 30px 25px 10px 25px;
  color: #666;
  background-color: white;
  border-radius: 10px;
}

.formgroup {
  margin-bottom: 20px;
}

.formbody .labeltitle {
  color: black;
  font-size: 17px;
  font-weight: 600;
}

.formbody .forminput {
  font-size: 17px;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333333;
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;
  outline: none;
  margin-top: 8px;
}

.formbody .forminput:focus {
  border: 2px solid black;
}

.horizontalgroup .left {
  float: left;
  width: 49%;
}

.horizontalgroup .right {
  float: right;
  width: 49%;
}

.radioGroup {
  justify-content: space-between;
  /* 라디오 간격 조절을 위한 CSS 속성 */
}

.horizontalgroup .inputgroup label {
  margin-right: 10px;
  /* 라디오 버튼 간격 조절을 위한 마진 설정 */
}

.bottom {
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.menuRegistBtn {
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #555;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  border-radius: 0px;
}

input[type="file"] {
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  background-color: #ffffff;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 5px 12px;
  font-size: 12px;
  height: 100%;
  margin-right: 10px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.02);
}

#rangelabel {
  width: 15%;
  padding: 5px;
  background-color: #1BBA93;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  position: relative;
  top: -8px;
}


::-webkit-input-placeholder {
  color: #d9d9d9;
}

/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/
.signupform .formfooter {
  background-color: #EFF0F1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 25px 40px 20px;
  text-align: right;
  clear: both;
  background-color: white;
  cursor: pointer;
}

.formfooter span {
  float: left;
  margin-top: 10px;
  color: #999;
  font-style: italic;
  font-weight: thin;
}

.btncancel {
  width: 100px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #666;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: -5px;
  margin-right: 5px;
  cursor: pointer;
}

.btninsert {
  width: 100px;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(181, 220, 16);
  font-size: 17px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: -5px;
  margin-right: 5px;
  cursor: pointer;
}

.btncancel:hover .btninsert:hover {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  background: none;
  color: white;
}

.errorMsg {
  color: red;
  margin-top: 6px;
  margin-left: 5px;
}

.forminput.error {
  border: 1px solid red;
}

.formbody .labeltitle.error {
  color: red;
}

.formbody .forminput.error:focus {
  border: 2px solid red;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 6px;
  width: 300px;
  font-size: 20px;
  text-align: center;
}

.modal img {
  width: 200px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.inputgroup {
  margin-top: 8px;
}

@media screen and (max-width: 700px) {
  .pageHead {
    top: 50px;
  }

  .signupform {
    width: 100%;
    /* margin-top: 120px; */
  }

  .horizontalgroup .formgroup {
    width: 100%;
  }

  input[type="file"] {
    width: 100%;
  }

  .horizontalgroup .left,
  .horizontalgroup .right {
    width: 100%;
  }

  .horizontalgroup .inputgroup label {
    display: block;
  }

  .formbody {
    padding: 25px;
  }

  .formfooter {
    margin-top: -15px;
  }

  .btncancel {
    width: 100%;

  }

  .btninsert {
    width: 100%;
    margin-top: 8px;
  }
}