
.body {
    margin: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background-color: #f1f1f1;
}

/* 상단 고정 바 */
.cartTop {
    /* background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 40px;
    font-size: 18px;
    display: flex;
    /* float: bottom;
    padding: 10px 15px;
    justify-content: space-between; */

    box-sizing: border-box;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px 15px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
}

.backBtn {
    width: 100%;
    min-width: 30px;
    max-width: 35px;
    font-size: 2em;
    color: rgb(42, 52, 55);
    display: flex;
    align-items: center;
}

.topTxt {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: '600';
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartMList {
    margin-top:70px;
    margin-bottom:130px;
    margin: 70px auto 130px auto;
    width: 100%;
    max-width: 650px;
}

.menuBox { 
    width: 100%;
    height: 70%;
}

.menuInfo {
    box-sizing: border-box;
    display: flex;
    background-color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    position: relative;
    width: 100%;
    border-radius: 6px;
    justify-self: center;
}

.cartMInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.menuImg {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-self: start;
    align-items: center;
    justify-content: center;
    margin: 5px 12px 5px 5px;
    border-radius: 5px;
}

.menuName{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
}

.menuPrice {
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

.menuQuantity {
    font-size: 15px;
}

.isPacked {
    font-size: 15px;
    margin-bottom: 4px;
    color: rgb(150, 150, 150);
}

.menuQuantity {
    width: 80px;
    display: flex;
    position: absolute;
    top: 30%;
    right: 0;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.count {
    display: flex;
}

.minus, .plus {
    border-radius: 0px;
    height: 40px;
    width: 40px;
}

.quantityInput {
    font-size: 13px;
    border-radius: 0;
    width: 45px;
    text-align: center;
}

.cartDelBtn {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: none;
}

/* 가격 */
.priceBox {
    background-color: white;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceTxt, .totalPrice{
    margin: 15px ;
    font-size: 14px;
    font-weight: 600;
}

.totalPrice {
    margin: 10px ;
}

/* 하단 고정 */
.bottom {
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.orderBtn {
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(80, 176, 209);
    /* 학교 전용 색 
        MAGENTA rgb(239, 35, 142)
        BLUE rgb(80, 176, 209)
        GREEN rgb(181,220,16)
        D.GRAY rgb(45,52,55) 
    */
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

.cartZero {
    width: 100%;
    height: 100%;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox {
    width: 100%;
    height: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartImg {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/cartImg.png');
}

.zeroTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #00000070;
    font-weight: 500;
    font-size: 14px;
    margin-top: 7%;
}

.zeroBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    
}

.goMenuBtn {
    color: #000000bb;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #00000048;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.goMenuBtn:hover {
    background-color: rgb(248, 248, 248);
}

@media screen and (max-width: 700px) {
    .cartTop {
        height: 50px;
    }

    .menuInfo {
        width: 100%;
    }
    
    .content {
        margin-top: 50px;
    }

    .minus, .plus {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quantityInput {
        font-size: 13px;
    }

    .menuQuantity {
        top: 37%;
        margin-right: 40px;
    }

    .cartZero {
        margin-top: 300px;
    }
}