.body {
    margin: 0;
    width: 100%;

    background-color: rgb(243, 243, 243);
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 0px;
    /* 세로축 스크롤바 폭 너비 */
}

/* 상단 고정 바 */
.orderTop {
    box-sizing: border-box;
    background-color: rgb(80, 176, 209);
    color: white;
    top: 0;
    left: 0;
    padding: 10px 15px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
}

.odTopHome {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.topTxt {
    width: 100%;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cplBox {
    width: 100%;
    height: 35vh;

    background-color: rgb(255, 255, 255);
    margin-top: 8vh;
    display: table;
}

.txt {
    display: table-cell;
    vertical-align: middle;
}

.ocTxt,
.oTxt,
.oIcon {
    width: 100%;
    text-align: center;
}

.oIcon {
    margin-bottom: 10px;
}

.ocTxt {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
}

.oTxt {
    color:  rgb(87, 87, 87);
}

.chkContent {
    width: 100%;
    margin: 70px auto 100px auto;
    /* margin-top: 70px;
    margin-bottom: 130px; */
    overflow-x: hidden;
    overflow-y: auto;
}

.chkInfoBox{
    width: 100%;
    /* margin-top: 60px; */
}

.chkInfoBoxTop {
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .05);
    background-color: rgb(255, 255, 255);
}

.chkInfoTxt {
    font-weight: bold;
}

.chkMenuBox {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin-top:10px;
}

.chkInfoDiv {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 10px 15px;
    height: 135px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: white;
}

.chkMenuInfo {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chkMenuImgDiv {
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 15px;
}

.chkMenuImg {
    width: 70px;
    border-radius: 6px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chkMenuName {
    float: left;
    margin-left: 10px;
    font-weight: bold;
}

.chkMenuQuantity {
    margin-left: 6px;
}

.chkMenuPrice {
    float: left;
    padding: 5px;
}

.chkMenuInfoBox {
    margin-left: 15px;
    color: rgb(150, 150, 150);
    width: 50%;
    font-size: 14px;
}

.chkMenuInfoBoxQ, .chkMenuInfoBoxH, .chkMenuInfoBoxC {
    width: 200px;
}

/* 결제방법 */
.chkPaymentBox {
    margin-top: 30px;
    /* height: 20vh; */
    /* padding-bottom: 60px; */
    width: 100%;
    margin-bottom: 120px;
}
.chkPaymentTop {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
.chkPaymentTxt{
    font-weight: bold;
}
.chkPaymentDiv {
    display: flex;
    padding: 15px;
}
.chkPaymentRadioBox{
    width: 100%;

    background-color: rgb(255, 255, 255);
}

.kakaoRadio, .TossRadio, .SimpleRadio {
    padding-top: 10px;
    padding-bottom: 10px;
}

.kakaoIcon {
    display: flex;
    align-items: center;
    height: 20px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-image: url("../img/payment_icon_yellow_small.png");
}

.odPriceBox {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.odTotalPriceTxt {
    float: left;
    font-weight: bold;
    padding: 10px;
}

.odTotalPrice {
    margin-right: 10px;
    color: rgb(80, 176, 209);
    font-weight: bold;
    font-size: 19px;
    padding: 10px;
}

.bottom {
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 700px) {
    .chkContent {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    
}